body {
    padding: 0px;
    margin: 0px;
    font: 400 12px "微软雅黑", "Calibri", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo, "Droid Sans", "wenquanyi micro hei", "Hiragino Sans GB", "Hiragino Sans GB W3", Arial, sans-serif;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    margin: 0;
    padding: 0;
    list-style: none;
}

.box-shadow {
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
    display: block;
}

.at-body {
    background: #f9f9f9 !important;
}

/* 针对左右两栏布局的页面 */
.at-layout-two-column {

}

.at-layout-two-column.toggled .at-aside {

    margin-left: -280px;

}

.at-layout-two-column.toggled .at-layout-right {

    margin-left: 0;

}

@media (max-width: 768px) {

    .at-layout-two-column .at-aside {

        margin-left: -280px;

    }

    .at-layout-two-column .at-layout-right {

        margin-left: 0;

    }

}

/* 页面头部布局 */
.at-layout-head {

}

/* 页面中间区域布局 */
.at-layout-container {

}

/* 页面左侧区域布局 */
.at-layout-left {

}

/* 页面右侧区域布局 */
.at-layout-right {

    margin-left: 280px;
    height: 100%;
    padding: 10px 10px 0px 15px;
}

/*@media(min-width:1440px) {*/

/*.at-layout-right {*/
/*margin-left: 250px;*/
/*}*/

/*}*/

/*@media(min-width:1920px) {*/

/*.at-layout-right {*/
/*margin-left: 280px;*/
/*}*/

/*}*/

/* 页面底部区域布局 */
.at-layout-foot {

}

/* 表区域头 */
.at-chart-header {
    padding: 10px 0 0 15px;
}

/* 表区域头标题 */
.at-chart-header-title {
    color: #444444;
    font-weight: 300;
    font-size: 16px;
}

/* 表格容器 */
.at-grid-container {
    margin: 10px 10px 0 10px;
    height: 100%
}

/* 表格头样式 */
.k-header {

height: 25px;
}

/* 表格头的操作栏样式 */
.k-header .optBar {

    padding: 3px;
}

/* 表格头中按钮的样式 */
.k-header-btn {

    color: #fff;
    cursor: pointer;
    border: 1px solid #077ad1;
    background-clip: padding-box;
    position: relative;
    display: inline-block;
    padding: 0.260em 0.500em;
    line-height: 0.933em;
    transition-property: background-color, color;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    border-radius: 2px;
    -webkit-appearance: none;
    font-size: 8px;
    text-align: center;
}

/* 页面header头容器样式 */
.at-header-navbar-container {

    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    font-weight: 500;
    outline: 0 !important;
    display: inline-block;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0px 3px;
    width: 100%;
}

/* 页面header头容器内字体样式 */
.at-header-navbar-container > a {

    text-decoration: initial;
}

/* 页面头样式 */
.at-header {

}

@media (min-width: 1440px) {

    .at-header {
        height: 30px;
    }

    .at-header-navbar-container {
        vertical-align: middle;
        line-height: 30px;
    }
}

@media (min-width: 1920px) {

    .at-header {
        height: 40px;
    }

    .at-header-navbar-container {
        vertical-align: middle;
        line-height: 40px;
    }
}

/* 页面左侧栏样式 */
.at-aside, .at-header-navbar-left {
    width: 280px;
}

/* 页面头左侧bar 样式 */
.at-header-navbar-left {

    height: 100%;
}

/* 页面头右侧bar 样式 */
.at-header-navbar-right {

    float: left;
    height: 100%;
}

/* 图表容器样式 */
.at-chart-container {

}

/* 页面左侧栏样式 */
.at-aside {

    bottom: 0;
    border-top: 0;
    position: fixed;
    height: inherit;
}

/*@media(min-width:1440px) {*/

/*.at-aside {*/
/*width: 250px;*/
/*}*/

/*}*/

/*@media(min-width:1920px) {*/

/*.at-aside {*/
/*width: 280px;*/
/*}*/
/*}*/

/** 进度条样式 **/
.k-progressbar {
    height: 12px;
    line-height: 12px;
    border-radius: 1px;
}

.k-progress-status-wrap {
    height: 12px;
    line-height: 12px;
}

/**window弹出框样式*/
.k-window .k-window-titlebar {
    padding: 0;
    height: 32px;
    line-height: 32px;
}

.k-window .k-window-titlebar .k-window-actions {
    padding: 0;
    height: 30px;
    line-height: 30px;
}

.k-window .k-header {
    font-size: 16px;
}

.k-window .k-header .k-window-title {
    padding-left: 10px;
}

/* ===================================================================== */
/* 表格 */
.k-grid {

}

.k-grid TD {
    height: 35px;
    color: #16678E;
    font-size: 14px;
    padding: 0 10px;
    white-space: nowrap;
}

.k-grid .k-button {
    font-size: 12px;
    width: 60px;
    height: 26px;
    /*background-image: none;*/
}

/* 表格列头样式设置 */
.k-grid-header {
    font-size: inherit;
    height: auto;
}

.k-grid .k-grid-header .k-header {
    text-align: center;
    vertical-align: middle;
    color: #787878;
    font-size: 14px;
    font-weight: bold;
}

/* 表格列头单元格设置 */
.k-header, .k-header > .k-link {
    font-size: inherit;
}

/* 表格内字体的默认颜色 */
.k-widget {
    font-size: inherit;
}

/* 设置表格内各自内容比较多时，不要wrap*/
.k-master-row td {
    white-space: nowrap;
}

/* 表格行样式设置 */
.k-master-row {
    font-size: inherit;
}

/* 表格行选中样式 */
tr.k-state-selected {
    font-size: inherit;
}

/* 表格翻页栏 */
.k-pager-wrap {

}

/* 表格翻页栏-单个操作按钮 */
.k-pager-nav {

}

/* 表格翻页栏-第一个操作按钮 */
.k-pager-first, .k-pager-last {

}

/* 表格翻页栏-按钮灰掉状态 */
.k-state-disabled {

}

.k-page-numbers > .k-state-selected {

}

.k-pager-numbers .k-link {

}

.k-tabstrip-wrapper > .k-tabstrip-top {

    border: 0 none;

}

/* Tab页框框设置 */
.k-tabstrip-wrapper > .k-tabstrip-top {

}

/* Tab页-单页样式 */
.k-tabstrip-items .k-item {

    border-radius: 4px 4px 0 0;
}

/* Tab页-单页选中样式 */
.k-tabstrip-items .k-state-active {

}

/* Tab页-单页字体样式 */
.k-tabstrip-items .k-state-default .k-link {

}

/* Tab页-单页内容样式 */
.k-tabstrip > .k-content {
    position: static;
    border: 1px solid;
    margin: 0 .286em .3em;
    padding: .3em .92em;
    zoom: 1;
}

/* Tab页-单页内容样式 */
.k-tabstrip .k-content.k-state-active {
    background-color: #fff;
    color: #003f59;
}

/**---文字居中------*/
.at-text-center {
    text-align: center;
}

/**---------------------------------按钮基础样式-----start-------------------------------------------------------------*/

.at-btn-big {
    padding: 0 29px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
}

.at-btn-mid {
    padding: 0 22px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}

.at-btn-small {
    padding: 0 16px;
    height: 28px;
    line-height: 28px;
    font-size: 14px;
}

.at-btn-big, .at-btn-mid, .at-btn-small {
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.at-btn-big, .at-btn-mid, .at-btn-small, .at-btn-big:hover, .at-btn-mid:hover, .at-btn-small:hover, .at-btn-big:active, .at-btn-mid:active, .at-btn-small:active {
    text-decoration: none;
}

.at-btn-big-disabled {
    padding: 0 29px;
    height: 36px;
    line-height: 36px;
}

.at-btn-mid-disabled {
    padding: 0 22px;
    height: 32px;
    line-height: 32px;
}

.at-btn-small-disabled {
    padding: 0 16px;
    height: 28px;
    line-height: 28px;
}

.at-btn-big-disabled, .at-btn-mid-disabled, .at-btn-small-disabled {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.at-btn-big-disabled, .at-btn-mid-disabled, .at-btn-small-disabled {
    color: #ffffff;
    background: #d4d4d4;
}

.at-btn-big-disabled:hover, .at-btn-mid-disabled:hover, .at-btn-small-disabled:hover {
    text-decoration: none;
}

.at-btn-group-align > a {
    margin-left: 30px;
    border-radius: 2px;
}

.at-btn-group-left-align > a {
    float: left;
    margin-right: 30px;
    border-radius: 2px;
}

.at-btn-group-right-align > a {
    float: right;
    margin-left: 30px;
    border-radius: 2px;
}

.at-img-btn {
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    cursor: pointer;
}

.at-img-btn {
    font-size: 14px;
}

.at-img-btn .img {
    margin-left: 20px;
}

.at-img-btn .text {
    margin-left: 4px;
    text-align: left;
}

.at-cal-select-group span {
    border-radius: 2px;
    font-size: 12px;
    padding: 3px 8px 3px 8px;
    margin-right: 10px;
    cursor: pointer;
}

/* 图表上方按钮选择组 */
.at-btn-select-group {
    display: inline-block;
    height: auto;
    overflow: hidden;
    vertical-align: middle;
}

.at-btn-select-group span {
    border-radius: 2px;
    font-size: 12px;
    padding: 3px 8px 3px 8px;
    margin-right: 10px;
    cursor: pointer;
}

/**---------------------------------按钮基础样式------end------------------------------------------------------------*/

/**---------------------------------表单基础样式------start------------------------------------------------------------*/

.at-form {
    padding: 30px 15px 5px 15px;
}

.at-form ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.at-form label {
    line-height: 30px;
    text-align: right;
    padding-right: 10px;
    font-size: 14px;
}

.at-form .at-form-item {
    margin-top: 0;
    margin-bottom: 10px;
    height: 31px;
    line-height: 31px;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
}

.at-form input {
    padding-left: 5px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    border-radius: 2px;
}

.at-form textarea {
    height: 114px;
    font-size: 14px;
    border-radius: 2px;
}

@media screen and (min-width: 768px) {
    .at-form-item label {
        font-size: 14px;
        padding-right: 10px;
    }

    .at-form input {
        font-size: 12px;
    }

    .at-checkbox-label {
        font-size: 12px;
    }

    .at-checkbox-wrap {
        width: 18px;
        height: 16px;
        display: inline-block;
        position: relative;
    }

    .at-checkbox-wrap input[type=checkbox] {
        position: absolute;
        top: 0;
        left: 0;
        width: 14px;
        height: 14px;
    }

    .at-checkbox-wrap {
        vertical-align: middle;
    }

    .at-checkbox-wrap .at-label-normal, .at-checkbox-wrap .at-label-hover, .at-checkbox-wrap .at-label-checked, .at-checkbox-wrap .at-label-disabled {
        position: absolute;
        top: 0;
        left: 0;
        width: 18px;
        height: 16px;
        display: inline-block;
        background: url("default/img/checkbox-small.png") no-repeat 1px 0;
    }

    .at-checkbox-wrap .at-label-normal:hover {
        background: #ffffff url("default/img/checkbox-small.png") no-repeat -16px 0;
    }

    .at-checkbox-wrap .at-label-checked {
        background: #ffffff url("default/img/checkbox-small.png") no-repeat -35px 0;
    }

    .at-checkbox-label {
        /*margin-left: 10px;*/
        margin-left: 3px;
    }

    .at-checkbox-wrap .at-label-disabled {
        background: #ffffff url("default/img/checkbox-small.png") no-repeat -64px 0;
    }
}

@media screen and (min-width: 1920px) {
    .at-form-item label {
        font-size: 16px;
        padding-right: 10px;
    }

    .at-form input {
        font-size: 14px;
    }

    .at-checkbox-label {
        font-size: 14px;
    }

    .at-checkbox-wrap {
        width: 24px;
        height: 24px;
        display: inline-block;
        position: relative;
    }

    .at-checkbox-wrap input[type=checkbox] {
        position: absolute;
        top: 0;
        left: 0;
        width: 20px;
        height: 20px;
    }

    .at-checkbox-wrap {
        vertical-align: middle;
    }

    .at-checkbox-wrap .at-label-normal, .at-checkbox-wrap .at-label-hover, .at-checkbox-wrap .at-label-checked, .at-checkbox-wrap .at-label-disabled {
        position: absolute;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        display: inline-block;
        background: url("default/img/checkbox.png");
    }

    .at-checkbox-wrap .at-label-normal:hover {
        background: #ffffff url("default/img/checkbox.png") no-repeat -24px 0;
    }

    .at-checkbox-wrap .at-label-checked {
        background: #ffffff url("default/img/checkbox.png") no-repeat -48px 0;
    }

    .at-checkbox-label {
        margin-left: 10px;
    }

    .at-checkbox-wrap .at-label-disabled {
        background: #ffffff url("default/img/checkbox.png") no-repeat -72px 0;
    }
}

span.k-invalid-msg {

    position: fixed;
}

input[type=text] {
    border: 1px solid #d1d1d1;
}

input[type=radio], input[type=checkbox] {
    border: none;
}

.k-picker-wrap .k-select, .k-picker-wrap .k-input, .k-picker-wrap .k-state-focused .k-input, .k-picker-wrap .k-state-hover .k-input {
    height: 26px;
    line-height: 26px;
}

.k-state-default > .k-select {
    height: 30px;
    line-height: 30px;
}

.k-dropdown .k-input, .k-combobox .k-input {
    height: 26px;
    line-height: 26px;
}

/**---------------------------------表单基础样式------end------------------------------------------------------------*/

.at-tree-slider {

    display: block;
    margin-top: -31px;
    position: absolute;
    right: -10px;
    top: 50%;
}

.at-tree-slider > div {

    height: 53px;
    width: 9px;
    background-image: url("default/img/treecollapse-normal.png");
}

.at-tree-slider > div:hover {

    cursor: pointer;
    background-image: url("default/img/treecollapse-hover.png");
}

/*.at-tree-slider > a.tree-open {*/

/*background-image: url("/avatar/ezFireExt/common/styles/default/img/treeexpand-normal.png");*/
/*}*/

.at-tree-slider > div.tree-slider-toggled {

    background-image: url("default/img/treeexpand-normal.png");
}

.at-tree-slider > div.tree-slider-toggled:hover {

    background-image: url("default/img/treeexpand-hover.png");
}

/********************************************** grid 布局基本样式*************************************************************
/***
created By liwei on 2015/6/30.
**/
/************ regular at css ***********************************************************/
.at-u {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto
}

.at-g [class *="at-u"] {
    /*font-family: sans-serif*/
}

.at-u-1, .at-u-1-1, .at-u-1-2, .at-u-1-3, .at-u-2-3, .at-u-1-4, .at-u-3-4, .at-u-1-5, .at-u-2-5, .at-u-3-5, .at-u-4-5, .at-u-5-5, .at-u-1-6, .at-u-5-6, .at-u-1-8, .at-u-3-8, .at-u-5-8, .at-u-7-8, .at-u-1-12, .at-u-5-12, .at-u-7-12, .at-u-11-12, .at-u-1-24, .at-u-2-24, .at-u-3-24, .at-u-4-24, .at-u-5-24, .at-u-6-24, .at-u-7-24, .at-u-8-24, .at-u-9-24, .at-u-10-24, .at-u-11-24, .at-u-12-24, .at-u-13-24, .at-u-14-24, .at-u-15-24, .at-u-16-24, .at-u-17-24, .at-u-18-24, .at-u-19-24, .at-u-20-24, .at-u-21-24, .at-u-22-24, .at-u-23-24, .at-u-24-24 {
    display: inline-block;
    *display: inline;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto
}

.at-u-1-24 {
    width: 4.1667%;
    *width: 4.1357%
}

.at-u-1-12, .at-u-2-24 {
    width: 8.3333%;
    *width: 8.3023%
}

.at-u-1-8, .at-u-3-24 {
    width: 12.5%;
    *width: 12.469%
}

.at-u-1-6, .at-u-4-24 {
    width: 16.6667%;
    *width: 16.6357%
}

.at-u-1-5 {
    width: 20%;
    *width: 19.969%
}

.at-u-5-24 {
    width: 20.8333%;
    *width: 20.8023%
}

.at-u-1-4, .at-u-6-24 {
    width: 25%;
    *width: 24.969%
}

.at-u-7-24 {
    width: 29.1667%;
    *width: 29.1357%
}

.at-u-1-3, .at-u-8-24 {
    width: 33.3333%;
    *width: 33.3023%
}

.at-u-3-8, .at-u-9-24 {
    width: 37.5%;
    *width: 37.469%
}

.at-u-2-5 {
    width: 40%;
    *width: 39.969%
}

.at-u-5-12, .at-u-10-24 {
    width: 41.6667%;
    *width: 41.6357%
}

.at-u-11-24 {
    width: 45.8333%;
    *width: 45.8023%
}

.at-u-1-2, .at-u-12-24 {
    *width: 50%;
    width: 49.879%
}

.at-u-13-24 {
    width: 54.1667%;
    *width: 54.1357%
}

.at-u-7-12, .at-u-14-24 {
    width: 58.3333%;
    *width: 58.3023%
}

.at-u-3-5 {
    width: 60%;
    *width: 59.969%
}

.at-u-5-8, .at-u-15-24 {
    width: 62.5%;
    *width: 62.469%
}

.at-u-2-3, .at-u-16-24 {
    width: 66.6667%;
    *width: 66.6357%
}

.at-u-17-24 {
    width: 70.8333%;
    *width: 70.8023%
}

.at-u-3-4, .at-u-18-24 {
    width: 75%;
    *width: 74.969%
}

.at-u-19-24 {
    width: 79.1667%;
    *width: 79.1357%
}

.at-u-4-5 {
    width: 80%;
    *width: 79.969%
}

.at-u-5-6, .at-u-20-24 {
    width: 83.3333%;
    *width: 83.3023%
}

.at-u-7-8, .at-u-21-24 {
    width: 87.5%;
    *width: 87.469%
}

.at-u-11-12, .at-u-22-24 {
    width: 91.6667%;
    *width: 91.6357%
}

.at-u-23-24 {
    width: 95.8333%;
    *width: 95.8023%
}

.at-u-1, .at-u-1-1, .at-u-5-5, .at-u-24-24 {
    width: 100%
}

.at-g {
    letter-spacing: -.31em;
    /**letter-spacing: normal;*/
    /**word-spacing: -.43em;*/
    text-rendering: optimizespeed;
    /*font-family: FreeSans, Arimo, "Droid Sans", Helvetica, Arial, sans-serif;*/
    display: -webkit-flex;
    -webkit-flex-flow: row wrap;
    display: -ms-flexbox;
    -ms-flex-flow: row wrap;
    -ms-align-content: flex-start;
    -webkit-align-content: flex-start;
    align-content: flex-start
}

.opera-only :-o-prefocus, .at-g {
    word-spacing: -.43em
}

@media screen and (min-width: 568px) {
    .at-u-xxs-1,
    .at-u-xxs-1-1,
    .at-u-xxs-1-2,
    .at-u-xxs-1-3,
    .at-u-xxs-2-3,
    .at-u-xxs-1-4,
    .at-u-xxs-3-4,
    .at-u-xxs-1-5,
    .at-u-xxs-2-5,
    .at-u-xxs-3-5,
    .at-u-xxs-4-5,
    .at-u-xxs-5-5,
    .at-u-xxs-1-6,
    .at-u-xxs-5-6,
    .at-u-xxs-1-8,
    .at-u-xxs-3-8,
    .at-u-xxs-5-8,
    .at-u-xxs-7-8,
    .at-u-xxs-1-12,
    .at-u-xxs-5-12,
    .at-u-xxs-7-12,
    .at-u-xxs-11-12,
    .at-u-xxs-1-24,
    .at-u-xxs-2-24,
    .at-u-xxs-3-24,
    .at-u-xxs-4-24,
    .at-u-xxs-5-24,
    .at-u-xxs-6-24,
    .at-u-xxs-7-24,
    .at-u-xxs-8-24,
    .at-u-xxs-9-24,
    .at-u-xxs-10-24,
    .at-u-xxs-11-24,
    .at-u-xxs-12-24,
    .at-u-xxs-13-24,
    .at-u-xxs-14-24,
    .at-u-xxs-15-24,
    .at-u-xxs-16-24,
    .at-u-xxs-17-24,
    .at-u-xxs-18-24,
    .at-u-xxs-19-24,
    .at-u-xxs-20-24,
    .at-u-xxs-21-24,
    .at-u-xxs-22-24,
    .at-u-xxs-23-24,
    .at-u-xxs-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .at-u-xxs-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .at-u-xxs-1-12,
    .at-u-xxs-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .at-u-xxs-1-8,
    .at-u-xxs-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .at-u-xxs-1-6,
    .at-u-xxs-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .at-u-xxs-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .at-u-xxs-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .at-u-xxs-1-4,
    .at-u-xxs-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .at-u-xxs-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .at-u-xxs-1-3,
    .at-u-xxs-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .at-u-xxs-3-8,
    .at-u-xxs-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .at-u-xxs-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .at-u-xxs-5-12,
    .at-u-xxs-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .at-u-xxs-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .at-u-xxs-1-2,
    .at-u-xxs-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .at-u-xxs-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .at-u-xxs-7-12,
    .at-u-xxs-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .at-u-xxs-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .at-u-xxs-5-8,
    .at-u-xxs-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .at-u-xxs-2-3,
    .at-u-xxs-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .at-u-xxs-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .at-u-xxs-3-4,
    .at-u-xxs-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .at-u-xxs-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .at-u-xxs-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .at-u-xxs-5-6,
    .at-u-xxs-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .at-u-xxs-7-8,
    .at-u-xxs-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .at-u-xxs-11-12,
    .at-u-xxs-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .at-u-xxs-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .at-u-xxs-1,
    .at-u-xxs-1-1,
    .at-u-xxs-5-5,
    .at-u-xxs-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .at-u-xs-1,
    .at-u-xs-1-1,
    .at-u-xs-1-2,
    .at-u-xs-1-3,
    .at-u-xs-2-3,
    .at-u-xs-1-4,
    .at-u-xs-3-4,
    .at-u-xs-1-5,
    .at-u-xs-2-5,
    .at-u-xs-3-5,
    .at-u-xs-4-5,
    .at-u-xs-5-5,
    .at-u-xs-1-6,
    .at-u-xs-5-6,
    .at-u-xs-1-8,
    .at-u-xs-3-8,
    .at-u-xs-5-8,
    .at-u-xs-7-8,
    .at-u-xs-1-12,
    .at-u-xs-5-12,
    .at-u-xs-7-12,
    .at-u-xs-11-12,
    .at-u-xs-1-24,
    .at-u-xs-2-24,
    .at-u-xs-3-24,
    .at-u-xs-4-24,
    .at-u-xs-5-24,
    .at-u-xs-6-24,
    .at-u-xs-7-24,
    .at-u-xs-8-24,
    .at-u-xs-9-24,
    .at-u-xs-10-24,
    .at-u-xs-11-24,
    .at-u-xs-12-24,
    .at-u-xs-13-24,
    .at-u-xs-14-24,
    .at-u-xs-15-24,
    .at-u-xs-16-24,
    .at-u-xs-17-24,
    .at-u-xs-18-24,
    .at-u-xs-19-24,
    .at-u-xs-20-24,
    .at-u-xs-21-24,
    .at-u-xs-22-24,
    .at-u-xs-23-24,
    .at-u-xs-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .at-u-xs-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .at-u-xs-1-12,
    .at-u-xs-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .at-u-xs-1-8,
    .at-u-xs-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .at-u-xs-1-6,
    .at-u-xs-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .at-u-xs-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .at-u-xs-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .at-u-xs-1-4,
    .at-u-xs-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .at-u-xs-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .at-u-xs-1-3,
    .at-u-xs-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .at-u-xs-3-8,
    .at-u-xs-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .at-u-xs-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .at-u-xs-5-12,
    .at-u-xs-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .at-u-xs-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .at-u-xs-1-2,
    .at-u-xs-12-24 {
        width: 49.5%;
        *width: 49.9690%;
    }

    .at-u-xs-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .at-u-xs-7-12,
    .at-u-xs-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .at-u-xs-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .at-u-xs-5-8,
    .at-u-xs-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .at-u-xs-2-3,
    .at-u-xs-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .at-u-xs-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .at-u-xs-3-4,
    .at-u-xs-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .at-u-xs-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .at-u-xs-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .at-u-xs-5-6,
    .at-u-xs-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .at-u-xs-7-8,
    .at-u-xs-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .at-u-xs-11-12,
    .at-u-xs-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .at-u-xs-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .at-u-xs-1,
    .at-u-xs-1-1,
    .at-u-xs-5-5,
    .at-u-xs-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .at-u-sm-1,
    .at-u-sm-1-1,
    .at-u-sm-1-2,
    .at-u-sm-1-3,
    .at-u-sm-2-3,
    .at-u-sm-1-4,
    .at-u-sm-3-4,
    .at-u-sm-1-5,
    .at-u-sm-2-5,
    .at-u-sm-3-5,
    .at-u-sm-4-5,
    .at-u-sm-5-5,
    .at-u-sm-1-6,
    .at-u-sm-5-6,
    .at-u-sm-1-8,
    .at-u-sm-3-8,
    .at-u-sm-5-8,
    .at-u-sm-7-8,
    .at-u-sm-1-12,
    .at-u-sm-5-12,
    .at-u-sm-7-12,
    .at-u-sm-11-12,
    .at-u-sm-1-24,
    .at-u-sm-2-24,
    .at-u-sm-3-24,
    .at-u-sm-4-24,
    .at-u-sm-5-24,
    .at-u-sm-6-24,
    .at-u-sm-7-24,
    .at-u-sm-8-24,
    .at-u-sm-9-24,
    .at-u-sm-10-24,
    .at-u-sm-11-24,
    .at-u-sm-12-24,
    .at-u-sm-13-24,
    .at-u-sm-14-24,
    .at-u-sm-15-24,
    .at-u-sm-16-24,
    .at-u-sm-17-24,
    .at-u-sm-18-24,
    .at-u-sm-19-24,
    .at-u-sm-20-24,
    .at-u-sm-21-24,
    .at-u-sm-22-24,
    .at-u-sm-23-24,
    .at-u-sm-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .at-u-sm-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .at-u-sm-1-12,
    .at-u-sm-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .at-u-sm-1-8,
    .at-u-sm-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .at-u-sm-1-6,
    .at-u-sm-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .at-u-sm-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .at-u-sm-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .at-u-sm-1-4,
    .at-u-sm-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .at-u-sm-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .at-u-sm-1-3,
    .at-u-sm-8-24 {
        width: 33.23%;
        *width: 33.3023%;
    }

    .at-u-sm-3-8,
    .at-u-sm-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .at-u-sm-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .at-u-sm-5-12,
    .at-u-sm-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .at-u-sm-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .at-u-sm-1-2,
    .at-u-sm-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .at-u-sm-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .at-u-sm-7-12,
    .at-u-sm-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .at-u-sm-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .at-u-sm-5-8,
    .at-u-sm-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .at-u-sm-2-3,
    .at-u-sm-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .at-u-sm-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .at-u-sm-3-4,
    .at-u-sm-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .at-u-sm-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .at-u-sm-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .at-u-sm-5-6,
    .at-u-sm-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .at-u-sm-7-8,
    .at-u-sm-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .at-u-sm-11-12,
    .at-u-sm-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .at-u-sm-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .at-u-sm-1,
    .at-u-sm-1-1,
    .at-u-sm-5-5,
    .at-u-sm-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 1200px) {
    .at-u-md-1,
    .at-u-md-1-1,
    .at-u-md-1-2,
    .at-u-md-1-3,
    .at-u-md-2-3,
    .at-u-md-1-4,
    .at-u-md-3-4,
    .at-u-md-1-5,
    .at-u-md-2-5,
    .at-u-md-3-5,
    .at-u-md-4-5,
    .at-u-md-5-5,
    .at-u-md-1-6,
    .at-u-md-5-6,
    .at-u-md-1-8,
    .at-u-md-3-8,
    .at-u-md-5-8,
    .at-u-md-7-8,
    .at-u-md-1-12,
    .at-u-md-5-12,
    .at-u-md-7-12,
    .at-u-md-11-12,
    .at-u-md-1-24,
    .at-u-md-2-24,
    .at-u-md-3-24,
    .at-u-md-4-24,
    .at-u-md-5-24,
    .at-u-md-6-24,
    .at-u-md-7-24,
    .at-u-md-8-24,
    .at-u-md-9-24,
    .at-u-md-10-24,
    .at-u-md-11-24,
    .at-u-md-12-24,
    .at-u-md-13-24,
    .at-u-md-14-24,
    .at-u-md-15-24,
    .at-u-md-16-24,
    .at-u-md-17-24,
    .at-u-md-18-24,
    .at-u-md-19-24,
    .at-u-md-20-24,
    .at-u-md-21-24,
    .at-u-md-22-24,
    .at-u-md-23-24,
    .at-u-md-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .at-u-md-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .at-u-md-1-12,
    .at-u-md-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .at-u-md-1-8,
    .at-u-md-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .at-u-md-1-6,
    .at-u-md-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .at-u-md-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .at-u-md-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .at-u-md-1-4,
    .at-u-md-6-24 {
        width: 24.5%;
        *width: 24.9690%;
    }

    .at-u-md-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .at-u-md-1-3,
    .at-u-md-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .at-u-md-3-8,
    .at-u-md-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .at-u-md-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .at-u-md-5-12,
    .at-u-md-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .at-u-md-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .at-u-md-1-2,
    .at-u-md-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .at-u-md-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .at-u-md-7-12,
    .at-u-md-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .at-u-md-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .at-u-md-5-8,
    .at-u-md-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .at-u-md-2-3,
    .at-u-md-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .at-u-md-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .at-u-md-3-4,
    .at-u-md-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .at-u-md-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .at-u-md-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .at-u-md-5-6,
    .at-u-md-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .at-u-md-7-8,
    .at-u-md-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .at-u-md-11-12,
    .at-u-md-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .at-u-md-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .at-u-md-1,
    .at-u-md-1-1,
    .at-u-md-5-5,
    .at-u-md-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 1440px) {
    .at-u-lg-1,
    .at-u-lg-1-1,
    .at-u-lg-1-2,
    .at-u-lg-1-3,
    .at-u-lg-2-3,
    .at-u-lg-1-4,
    .at-u-lg-3-4,
    .at-u-lg-1-5,
    .at-u-lg-2-5,
    .at-u-lg-3-5,
    .at-u-lg-4-5,
    .at-u-lg-5-5,
    .at-u-lg-1-6,
    .at-u-lg-5-6,
    .at-u-lg-1-8,
    .at-u-lg-3-8,
    .at-u-lg-5-8,
    .at-u-lg-7-8,
    .at-u-lg-1-12,
    .at-u-lg-5-12,
    .at-u-lg-7-12,
    .at-u-lg-11-12,
    .at-u-lg-1-24,
    .at-u-lg-2-24,
    .at-u-lg-3-24,
    .at-u-lg-4-24,
    .at-u-lg-5-24,
    .at-u-lg-6-24,
    .at-u-lg-7-24,
    .at-u-lg-8-24,
    .at-u-lg-9-24,
    .at-u-lg-10-24,
    .at-u-lg-11-24,
    .at-u-lg-12-24,
    .at-u-lg-13-24,
    .at-u-lg-14-24,
    .at-u-lg-15-24,
    .at-u-lg-16-24,
    .at-u-lg-17-24,
    .at-u-lg-18-24,
    .at-u-lg-19-24,
    .at-u-lg-20-24,
    .at-u-lg-21-24,
    .at-u-lg-22-24,
    .at-u-lg-23-24,
    .at-u-lg-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .at-u-lg-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .at-u-lg-1-12,
    .at-u-lg-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .at-u-lg-1-8,
    .at-u-lg-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .at-u-lg-1-6,
    .at-u-lg-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .at-u-lg-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .at-u-lg-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .at-u-lg-1-4,
    .at-u-lg-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .at-u-lg-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .at-u-lg-1-3,
    .at-u-lg-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .at-u-lg-3-8,
    .at-u-lg-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .at-u-lg-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .at-u-lg-5-12,
    .at-u-lg-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .at-u-lg-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .at-u-lg-1-2,
    .at-u-lg-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .at-u-lg-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .at-u-lg-7-12,
    .at-u-lg-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .at-u-lg-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .at-u-lg-5-8,
    .at-u-lg-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .at-u-lg-2-3,
    .at-u-lg-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .at-u-lg-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .at-u-lg-3-4,
    .at-u-lg-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .at-u-lg-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .at-u-lg-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .at-u-lg-5-6,
    .at-u-lg-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .at-u-lg-7-8,
    .at-u-lg-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .at-u-lg-11-12,
    .at-u-lg-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .at-u-lg-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .at-u-lg-1,
    .at-u-lg-1-1,
    .at-u-lg-5-5,
    .at-u-lg-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 1680px) {
    .at-u-xl-1,
    .at-u-xl-1-1,
    .at-u-xl-1-2,
    .at-u-xl-1-3,
    .at-u-xl-2-3,
    .at-u-xl-1-4,
    .at-u-xl-3-4,
    .at-u-xl-1-5,
    .at-u-xl-2-5,
    .at-u-xl-3-5,
    .at-u-xl-4-5,
    .at-u-xl-5-5,
    .at-u-xl-1-6,
    .at-u-xl-5-6,
    .at-u-xl-1-8,
    .at-u-xl-3-8,
    .at-u-xl-5-8,
    .at-u-xl-7-8,
    .at-u-xl-1-12,
    .at-u-xl-5-12,
    .at-u-xl-7-12,
    .at-u-xl-11-12,
    .at-u-xl-1-24,
    .at-u-xl-2-24,
    .at-u-xl-3-24,
    .at-u-xl-4-24,
    .at-u-xl-5-24,
    .at-u-xl-6-24,
    .at-u-xl-7-24,
    .at-u-xl-8-24,
    .at-u-xl-9-24,
    .at-u-xl-10-24,
    .at-u-xl-11-24,
    .at-u-xl-12-24,
    .at-u-xl-13-24,
    .at-u-xl-14-24,
    .at-u-xl-15-24,
    .at-u-xl-16-24,
    .at-u-xl-17-24,
    .at-u-xl-18-24,
    .at-u-xl-19-24,
    .at-u-xl-20-24,
    .at-u-xl-21-24,
    .at-u-xl-22-24,
    .at-u-xl-23-24,
    .at-u-xl-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .at-u-xl-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .at-u-xl-1-12,
    .at-u-xl-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .at-u-xl-1-8,
    .at-u-xl-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .at-u-xl-1-6,
    .at-u-xl-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .at-u-xl-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .at-u-xl-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .at-u-xl-1-4,
    .at-u-xl-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .at-u-xl-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .at-u-xl-1-3,
    .at-u-xl-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .at-u-xl-3-8,
    .at-u-xl-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .at-u-xl-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .at-u-xl-5-12,
    .at-u-xl-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .at-u-xl-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .at-u-xl-1-2,
    .at-u-xl-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .at-u-xl-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .at-u-xl-7-12,
    .at-u-xl-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .at-u-xl-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .at-u-xl-5-8,
    .at-u-xl-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .at-u-xl-2-3,
    .at-u-xl-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .at-u-xl-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .at-u-xl-3-4,
    .at-u-xl-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .at-u-xl-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .at-u-xl-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .at-u-xl-5-6,
    .at-u-xl-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .at-u-xl-7-8,
    .at-u-xl-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .at-u-xl-11-12,
    .at-u-xl-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .at-u-xl-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .at-u-xl-1,
    .at-u-xl-1-1,
    .at-u-xl-5-5,
    .at-u-xl-24-24 {
        width: 100%;
    }
}

@media screen and (min-width: 1920px) {
    .at-u-xxl-1,
    .at-u-xxl-1-1,
    .at-u-xxl-1-2,
    .at-u-xxl-1-3,
    .at-u-xxl-2-3,
    .at-u-xxl-1-4,
    .at-u-xxl-3-4,
    .at-u-xxl-1-5,
    .at-u-xxl-2-5,
    .at-u-xxl-3-5,
    .at-u-xxl-4-5,
    .at-u-xxl-5-5,
    .at-u-xxl-1-6,
    .at-u-xxl-5-6,
    .at-u-xxl-1-8,
    .at-u-xxl-3-8,
    .at-u-xxl-5-8,
    .at-u-xxl-7-8,
    .at-u-xxl-1-12,
    .at-u-xxl-5-12,
    .at-u-xxl-7-12,
    .at-u-xxl-11-12,
    .at-u-xxl-1-24,
    .at-u-xxl-2-24,
    .at-u-xxl-3-24,
    .at-u-xxl-4-24,
    .at-u-xxl-5-24,
    .at-u-xxl-6-24,
    .at-u-xxl-7-24,
    .at-u-xxl-8-24,
    .at-u-xxl-9-24,
    .at-u-xxl-10-24,
    .at-u-xxl-11-24,
    .at-u-xxl-12-24,
    .at-u-xxl-13-24,
    .at-u-xxl-14-24,
    .at-u-xxl-15-24,
    .at-u-xxl-16-24,
    .at-u-xxl-17-24,
    .at-u-xxl-18-24,
    .at-u-xxl-19-24,
    .at-u-xxl-20-24,
    .at-u-xxl-21-24,
    .at-u-xxl-22-24,
    .at-u-xxl-23-24,
    .at-u-xxl-24-24 {
        display: inline-block;
        *display: inline;
        zoom: 1;
        letter-spacing: normal;
        word-spacing: normal;
        vertical-align: top;
        text-rendering: auto;
    }

    .at-u-xxl-1-24 {
        width: 4.1667%;
        *width: 4.1357%;
    }

    .at-u-xxl-1-12,
    .at-u-xxl-2-24 {
        width: 8.3333%;
        *width: 8.3023%;
    }

    .at-u-xxl-1-8,
    .at-u-xxl-3-24 {
        width: 12.5000%;
        *width: 12.4690%;
    }

    .at-u-xxl-1-6,
    .at-u-xxl-4-24 {
        width: 16.6667%;
        *width: 16.6357%;
    }

    .at-u-xxl-1-5 {
        width: 20%;
        *width: 19.9690%;
    }

    .at-u-xxl-5-24 {
        width: 20.8333%;
        *width: 20.8023%;
    }

    .at-u-xxl-1-4,
    .at-u-xxl-6-24 {
        width: 25%;
        *width: 24.9690%;
    }

    .at-u-xxl-7-24 {
        width: 29.1667%;
        *width: 29.1357%;
    }

    .at-u-xxl-1-3,
    .at-u-xxl-8-24 {
        width: 33.3333%;
        *width: 33.3023%;
    }

    .at-u-xxl-3-8,
    .at-u-xxl-9-24 {
        width: 37.5000%;
        *width: 37.4690%;
    }

    .at-u-xxl-2-5 {
        width: 40%;
        *width: 39.9690%;
    }

    .at-u-xxl-5-12,
    .at-u-xxl-10-24 {
        width: 41.6667%;
        *width: 41.6357%;
    }

    .at-u-xxl-11-24 {
        width: 45.8333%;
        *width: 45.8023%;
    }

    .at-u-xxl-1-2,
    .at-u-xxl-12-24 {
        width: 50%;
        *width: 49.9690%;
    }

    .at-u-xxl-13-24 {
        width: 54.1667%;
        *width: 54.1357%;
    }

    .at-u-xxl-7-12,
    .at-u-xxl-14-24 {
        width: 58.3333%;
        *width: 58.3023%;
    }

    .at-u-xxl-3-5 {
        width: 60%;
        *width: 59.9690%;
    }

    .at-u-xxl-5-8,
    .at-u-xxl-15-24 {
        width: 62.5000%;
        *width: 62.4690%;
    }

    .at-u-xxl-2-3,
    .at-u-xxl-16-24 {
        width: 66.6667%;
        *width: 66.6357%;
    }

    .at-u-xxl-17-24 {
        width: 70.8333%;
        *width: 70.8023%;
    }

    .at-u-xxl-3-4,
    .at-u-xxl-18-24 {
        width: 75%;
        *width: 74.9690%;
    }

    .at-u-xxl-19-24 {
        width: 79.1667%;
        *width: 79.1357%;
    }

    .at-u-xxl-4-5 {
        width: 80%;
        *width: 79.9690%;
    }

    .at-u-xxl-5-6,
    .at-u-xxl-20-24 {
        width: 83.3333%;
        *width: 83.3023%;
    }

    .at-u-xxl-7-8,
    .at-u-xxl-21-24 {
        width: 87.5000%;
        *width: 87.4690%;
    }

    .at-u-xxl-11-12,
    .at-u-xxl-22-24 {
        width: 91.6667%;
        *width: 91.6357%;
    }

    .at-u-xxl-23-24 {
        width: 95.8333%;
        *width: 95.8023%;
    }

    .at-u-xxl-1,
    .at-u-xxl-1-1,
    .at-u-xxl-5-5,
    .at-u-xxl-24-24 {
        width: 100%;
    }
}

/**---------------------常用高度比------start-----------------------------*/
.at-h-p-100 {
    height: 100%;
}

.at-h-p-99 {
    height: 99%;
}

.at-h-p-95 {
    height: 95%;
}

.at-h-p-90 {
    height: 90%;
}

/**---------------------常用高度比------end-----------------------------*/

/**---------------------去边框------start-----------------------------*/
.at-no-b {
    border: none;
}

.at-no-t-b {
    border-top: none;
}

.at-no-r-b {
    border-right: none;
}

.at-no-b-b {
    border-bottom: none;
}

.at-no-l-b {
    border-left: none;
}

/**---------------------去边框------end-----------------------------*/

/**---------------------常用补白度量-----start------------------------------*/

.at-p-0 {
    padding: 0;
}

.at-p-t-0 {
    padding-top: 0;
}

.at-p-r-0 {
    padding-right: 0;
}

.at-p-b-0 {
    padding-bottom: 0;
}

.at-p-l-0 {
    padding-left: 0;
}

.at-m-0 {
    margin: 0;
}

.at-m-t-0 {
    margin-top: 0;
}

.at-m-r-0 {
    margin-right: 0;
}

.at-m-b-0 {
    margin-bottom: 0;
}

.at-m-l-0 {
    margin-left: 0;
}

.at-p-5 {
    padding: 5px;
}

.at-p-l-5 {
    padding-left: 5px;
}

.at-p-r-5 {
    padding-right: 5px;
}

.at-p-t-5 {
    padding-top: 5px;
}

.at-p-b-5 {
    padding-bottom: 5px;
}

.at-p-10 {
    padding: 10px;
}

.at-p-l-10 {
    padding-left: 10px;
}

.at-p-r-10 {
    padding-right: 10px;
}

.at-p-t-10 {
    padding-top: 10px;
}

.at-p-b-10 {
    padding-bottom: 10px;
}

.at-p-15 {
    padding: 15px;
}

.at-p-l-15 {
    padding-left: 15px;
}

.at-p-r-15 {
    padding-right: 15px;
}

.at-p-t-15 {
    padding-top: 15px;
}

.at-p-b-15 {
    padding-bottom: 15px;
}

.at-p-18 {
    padding: 18px;
}

.at-p-l-18 {
    padding-left: 18px;
}

.at-p-r-18 {
    padding-right: 18px;
}

.at-p-t-18 {
    padding-top: 18px;
}

.at-p-b-18 {
    padding-bottom: 18px;
}

.at-p-20 {
    padding: 20px;
}

.at-p-l-20 {
    padding-left: 20px;
}

.at-p-r-20 {
    padding-right: 20px;
}

@media screen and (max-width: 1281px) {
    .at-p-l-20 {
        padding-left: 10px;
    }

    .at-p-r-20 {
        padding-right: 10px;
    }
}

.at-p-t-20 {
    padding-top: 20px;
}

.at-p-b-20 {
    padding-bottom: 20px;
}

.at-p-30 {
    padding: 30px;
}

.at-p-l-30 {
    padding-left: 30px;
}

.at-p-r-30 {
    padding-right: 30px;
}

.at-p-t-30 {
    padding-top: 30px;
}

.at-p-b-30 {
    padding-bottom: 30px;
}

.at-m-5 {
    margin: 5px;
}

.at-m-l-5 {
    margin-left: 5px;
}

.at-m-r-5 {
    margin-right: 5px;
}

.at-m-t-5 {
    margin-top: 5px;
}

.at-m-b-5 {
    margin-bottom: 5px;
}

.at-m-10 {
    margin: 10px;
}

.at-m-l-10 {
    margin-left: 10px;
}

.at-m-r-10 {
    margin-right: 10px;
}

.at-m-t-10 {
    margin-top: 10px;
}

.at-m-b-10 {
    margin-bottom: 10px;
}

.at-m-15 {
    margin: 15px;
}

.at-m-l-15 {
    margin-left: 15px;
}

.at-m-r-15 {
    margin-right: 15px;
}

.at-m-t-15 {
    margin-top: 15px;
}

.at-m-b-15 {
    margin-bottom: 15px;
}

.at-m-18 {
    margin: 18px;
}

.at-m-l-18 {
    margin-left: 18px;
}

.at-m-r-18 {
    margin-right: 18px;
}

.at-m-t-18 {
    margin-top: 18px;
}

.at-m-b-18 {
    margin-bottom: 18px;
}

.at-m-20 {
    margin: 20px;
}

.at-m-l-20 {
    margin-left: 20px;
}

.at-m-r-20 {
    margin-right: 20px;
}

.at-m-t-20 {
    margin-top: 20px;
}

.at-m-b-20 {
    margin-bottom: 20px;
}

.at-m-30 {
    margin: 30px;
}

.at-m-l-30 {
    margin-left: 30px;
}

.at-m-r-30 {
    margin-right: 30px;
}

.at-m-t-30 {
    margin-top: 30px;
}

.at-m-b-30 {
    margin-bottom: 30px;
}

.at-m-l-1-4 {
    margin-left: 25%;
}

/**---------------------常用补白度量-----end------------------------------*/
/** 内联块样式 */
.at-inline-block {
    display: inline-block;
}

.at-small {

}

.at-small .k-dropdown .k-input, .at-small .k-combobox .k-input {
    height: 20px;
    line-height: 20px;
}

.at-small .k-state-default > .k-select {
    height: 24px;
    line-height: 24px;
}

/**================================= 树 ==============================**/
.at-tree-wrapper {

    height: 100%;
    overflow-y: hidden;
    padding-top: 0;
    padding-left: 10px;
}

.k-window-titlebar {

    border-radius: 0;
}