*{
    padding: 0;
    margin: 0;
}

.aqyh-main{
    width: 100%;
    height: 98%;
    padding: 2% 0 0 1.5%;
    font-size: 1vw;
}

.aqyh-center{
    width: 88vw;
    height: 100%;
    overflow: hidden;

}

.aqyh-incenter{
    float: left;
    width: 800%;
    height: 100%;
}

.aqyh-left{

    height: 98%;

    text-align: center;
}
.aqyh-right{
    height: 98%;

    text-align: center;

}

.aqyh-span{
    height: 100%;
    text-align: center;
    position: relative;
}

.aqyh-year{

}

.inleft{
    height: 100%;
}
.aqyh-season{

}



.aqyh-line-circle{
    height: 4vh;
}

.aqyh-circle-s{
    width: 1vw;
    height: 1vw;
    margin: 0 0.3vw;
    border:solid 1px rgb(255,179,23);
    -moz-border-radius: 0.5vw;
    /* -webkit-border-radius: 50%; */
    border-radius:1vw;
    display: inline-block;
    vertical-align: middle;
}

.yh-prev-pic{
    height: 76vh;
    background: url(../../icons/qyda-arrow-right-n.png) no-repeat;
    background-position: 100% 50%;
    width: 2.5vw;
    cursor: pointer;
    float:left;
}
.yh-prev-pic:hover{
    height: 76vh;
    background: url(../../icons/qyda-arrow-right-h.png) no-repeat;
    background-position: 100% 50%;
    width: 2.5vw;
    cursor: pointer;
    float:left;
}

.yh-next-pic{
    height: 76vh;
    background: url(../../icons/qyda-arrow-left-n.png) no-repeat;
    background-position: 100% 50%;
    width: 2.5vw;
    cursor: pointer;
    float:right;
}

.yh-next-pic:hover{
    height: 76vh;
    background: url(../../icons/qyda-arrow-left-h.png) no-repeat;
    background-position: 100% 50%;
    width: 2.5vw;
    cursor: pointer;
    float:right;
}

.float{
    float: left;
}

.aqyh-item{
    height: 76vh;
    overflow: hidden;
}
.aqyh-circle {
    width: 1vw;
    height: 1vw;
    margin: 0 0.3vw;
    background: rgb(255,179,23);
    -moz-border-radius: 0.5vw;
    /* -webkit-border-radius: 50%; */
    border-radius: 0.5vw;
    display: inline-block;
    vertical-align: middle;
}

.aqyh-line {
    width: 10.2vw;
    vertical-align: middle;
    height: 0.2vh;
    display: inline-block;
    background: rgb(255,179,23);
}

.aqyh-line-circle .short {
    vertical-align: middle;
    width: 1.09vw;
}

.aqyh-timeline-box {
    position: relative;
    margin: 1vh 0;
}

.aqyh-timeline-box:before {
    content: '';
    position: absolute;
    top: 0;
    left: 1.19vw;
    width: 1px;
    height: 100%;
    background-color: #af8827;
}

.aqyh-timeline-box li {
    list-style: none;
    margin: 0 0 0 2vw;
}

.aqyh-timeline-box li:before {
    content: '';
    width: 1em;
    height: 1em;
    line-height: 20px;
    color: #ffb317;
    text-align: center;
    background-color: #ffb317;
    border-radius: 50%;
    position: absolute;
    left: 0.75vw;
}

.aqyh-content {
    position: relative;
}

.aqyh-content .time span{
    float: left;
    margin-top: -2px;

}
.aqyh-content .time a{
    float: right;
    margin: -2px 23px 0 0;
    color: rgb(114,139,159);
    text-decoration: none;
}

.aqyh-content .time a label{
    color: rgb(80, 172, 241);
}

.aqyh-tasks{
    margin-top: 4vh;
    width: 20vw;
    height: 68vh;
    overflow-y: scroll;
    background: url(../../icons/qyda-msg-body.png) repeat-y;
    background-size: 100% 100%;
}

.aqyh-tasks:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20vw;
    height: 4vh;
    background: url(../../icons/qyda-msg-bot.png) no-repeat;
    background-size: 100% 100%;
    margin: 0;
}
.aqyh-message-box{
    position: relative;

    left: 1.4vw;
}

.aqyh-tasks:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    width: 20vw;
    height: 4vh;
    background: url(../../icons/qyda-msg-top.png) no-repeat;
    background-size: 100% 100%;
    margin: 0;
}
.aqyh-tasks::-webkit-scrollbar {display:none}

.aqyh-tab {
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

.aqyh-tab tr, td {
    height: 25%;
    line-height: 5vh;
}

.aqyh-tab .short {
    width: 9%;
    text-align: right;
    padding-right: 0.5vw;
}

.aqyh-tab .long {
    width: 20%;
    border-bottom: 0.090833vw dotted rgb(16,81,127);
    color: rgb(80, 172, 241);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}

.aqyh-task-info{
    clear: both;
    width: 17vw;
    height: 100%;
    padding:0 0 1em;
}

strong {
    color: #FFC107;
    padding: 0 0.6vw;
}