#tab-container {
    display: flex;
    margin: 0.8vw;
    border-bottom: 0.05208333vw #4FA6E5 solid;
}

#detail-container {
    flex: 1 1;
    overflow-y: auto;
    margin-bottom: 1vh;
}

#tab-container .tab-button {
    position: relative;
    top: 1px;
    width: 20%;
    height: 5vh;
    padding: 1vh;
    color: #d4edff;
    font-size: 1.15vw;
    text-align: center;
    cursor: pointer;
}

#tab-container .tab-button.selected {
    color: #ffbe26;
    border-bottom: 0.15vw #ffbe26 solid;
}

.content-container {
    display: none;
    flex-flow: row wrap;
    margin: 0 1vw 0 0.3vw;
    color: #d4edff;
    font-size: 0.9375vw;
}

.content-container.selected {
    display: flex;
}

.content-container label {
    flex: 0 0 7em;
    padding: 0.3em 0.5em 0 0;
    text-align: right;
}

.content-container label.width-9em {
    flex: 0 0 9.5em;
}

.content-container .placeholder {
    visibility: hidden;
}

.content-container input, .content-container textarea {
    flex: 1;
    margin-bottom: 1vh;
    box-shadow: 0 0 10px 1px rgba(79, 166, 229, 0.98) inset;
    border: 1px solid #4fa6e5;
    border-radius: 5px;
    text-indent: 5px;
    font-size: 0.9375vw;
    color: #ffffff;
    background-color: rgba(25, 71, 117, 0.2);
}

.content-container input {
    height: 4vh;
    width: 10vw;
}

.content-container textarea:disabled {
    height: 10vh;
    color: rgba(255, 255, 255, 0.5);
    resize: none;
}

.content-container .long-input {
    flex-basis: 70%;
}

.content-container .short-input {
    min-width: 100px;
}

.content-container input:disabled {
    color: rgba(255, 255, 255, 0.5);
}